.page {
  min-width: 375px;
  font-family: var(--main-font-text), sans-serif;
  background-color: var( --main-color);
  background-image: var(--image-body);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  justify-items: end;
  align-items: center;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--decorated-zone);
  border-block-end: 1px solid var(--decorated-zone);
  block-size: 25px;
  inline-size: 25px;
  bottom: 10px;
  left: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--decorated-zone);
  border-block-start: 1px solid var(--decorated-zone);
  block-size: 25px;
  inline-size: 25px;
  top: 10px;
  right: 10px;
}

.decorative-text {
  position: absolute;
  top: 10px;
  right: 19px;
  font-size: var(--font-size-text);
  color: var(--decorated-zone-text);
  text-transform: uppercase;
}

.decorative-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-zone-text);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorated-zone-text);
  margin-inline-start: 10.5px;
  margin-block-end: 2px;
}

.header__theme-menu-list {
  display: grid;
  margin-inline-end: 11px;
  gap: 13px;
  justify-items: center;
  margin-block-start: 10px;
}

.header__theme-menu-button {
  font-size: var(--font-size-text);
  border: none;
  background-color: transparent;
  padding: 1px 12.5px;
  line-height: 1em;
  padding-bottom: 3.5px;
  color: var(--decorated-zone);
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

button:hover {
  outline: 1px solid var(--button-outline);
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid currentColor;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline-start: 10px;
}

.main-title {
  color: var(--title-text-color);
  font-size: var(--logo-size);
  line-height: 83%;
  margin-right: auto;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--important-text);
  font-size: var(--font-size-text);
  line-height: 23.4px;
  font-weight: 700;
}

.header__text {
  max-inline-size: 355px;
  margin-block-end: 10px;
  margin-inline-end: 10px;
}

.main {
  display: grid;
  grid-template-rows: repeat(auto-fill, min-content);
  margin-block-start: 40px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.main:first-of-type {
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  color: var(--main-text-color);
  font-size: var(--font-size-text);
  line-height: 130%;
}

.section__title {
  color: var(--subtitle-text);
  font-size: var(--font-size-text);
}

.article {
  display: grid;
  gap: 10px;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.article__min-title {
  background-color: var(--accent-color);
  color: var(--important-text);
  font-size: var(--font-size-text);
  font-weight: 400;
  margin-block-start: 20px;
}

.article__images {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  padding-block-start: 10px;
  contain: inline-size;
}

.article__image {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  margin-block-start: 40px;
  min-height: 668px;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    min-height: 1024px;
  }
  
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
  .decorative-text {
    top: 20px;
    right: 29px;
  }
  
  .header__theme-menu-list {
    margin-block-start: 17px;
    margin-inline-end: 21px;
  }
  
  .main-title {
    font-size: var(--logo-size);
    margin-inline-start: 0px;
  }
  
  .header__text {
    max-inline-size: 365px;
    margin-block-end: 20px;
    margin-inline-end: 20px;
  }
  
  .main {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
  
  .main:first-of-type {
    gap: 60px;
  }
  
  .section-why {
    display: grid;
    grid-template-columns: max(235px) 1fr;
    margin-block-start: 20px;
  }

  .section__title-why {
    grid-row-end: span 3;
  }
   
  .section__title-causes {
    display: grid;
    grid-template-columns: min-content;
  }

  .section-advices {
    display: grid;
    grid-template-columns: max(235px) 1fr;
    margin-block-start: 20px;
  }
  
  .title-decor-image {
    margin-block-start: 20px;
  }

  .article__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    padding-block-start: 20px;
  }
  
  img:first-of-type {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  img:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  img:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  img:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  img {
    object-fit: cover;
    height: 100%;
    object-position: center;
  }
  
  .footer {
    margin-block-start: 60px;
    height: 100vh;
    min-height: 1024px;
  }
  
  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
  }
  
  .header__theme-menu-start {
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
    margin-block-start: 4px;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--title-text-shadow);
  }
  
  .header__text {
    max-inline-size: 490px;
  }
  
  .section-why {
    grid-template-columns: max(315px) 1fr;
  }

  .section__title-why {
    grid-row-end: span 3;
  }
  
  .section__title-causes {
    grid-template-columns: max(300px);
    grid-column: 1/4;
  }

 .section-causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
  }

  .section-advices {
    grid-template-columns: max(315px) 1fr;
  }

  .article {
    grid-template-rows: min-content;
  }
  
  .footer {
    height: 100vh;
    min-height: 768px;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--title-text-shadow);
  }
}
